<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.business.base.dao.collect.ICollectInfoMapper">
    <resultMap id="BaseResultMap" type="com.fm.business.base.model.collect.CollectInfo">
        <id column="id" property="id" />
        <id column="user_id" property="userId" />
        <id column="collect" property="collect" />
        <id column="collect_type" property="collectType" />
        <id column="status" property="status" />
        <id column="create_time" property="createTime" />
        <id column="update_time" property="updateTime" />
        <id column="create_user" property="createUser" />
        <id column="update_user" property="updateUser" />
        <id column="is_delete" property="isDelete" />
        <id column="ts" property="ts" />
    </resultMap>
</mapper>