<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.business.base.dao.evaluationinfo.IEvaluationInfoMapper">

    <resultMap id="overallEvaluationResultMap" type="com.fm.business.base.model.evaluation.OverallEvaluation">
        <result column="freelancer_id" property="freelancerId"/>
        <result column="total_score" property="totalScore"/>
        <result column="result_score" property="resultScore"/>
        <result column="process_score" property="processScore"/>
        <result column="recommend_score" property="recommendScore"/>
        <result column="total_score_sum" property="totalScoreSum"/>
        <result column="result_score_sum" property="resultScoreSum"/>
        <result column="process_score_sum" property="processScoreSum"/>
        <result column="recommend_score_sum" property="recommendScoreSum"/>
        <result column="evaluation_count" property="evaluationCount"/>

    </resultMap>

    <select id="findOverallEvaluationByCateAndFreelancer" resultMap="overallEvaluationResultMap">
        select freelancer_id
                 , sum(total_score)     as total_score_sum
                 , sum(result_score)    as result_score_sum
                 , sum(process_score)   as process_score_sum
                 , sum(recommend_score) as recommend_score_sum
                 , count(freelancer_id) as evaluation_count
        from (
            select freelancer_id
                 , total_score
                 , result_score
                 , process_score
                 , recommend_score
            from evaluation_info
            where freelancer_id = #{freelancerId}
              and job_cate_id = #{jobCateId}
            order by create_time desc
            limit #{maxCount}

        ) as tmp group by freelancer_id


    </select>

</mapper>
