<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.business.base.dao.evaluationinfo.IEvaluationInfoMapper">

    <resultMap id="overallEvaluationResultMap" type="com.fm.business.base.model.evaluation.OverallEvaluation">
        <result column="freelancer_id" property="freelancerId"/>
        <result column="total_score" property="totalScore"/>
        <result column="response_speed" property="responseSpeed"/>
        <result column="communicate_capacity" property="communicateCapacity"/>
        <result column="completion_time" property="completionTime"/>
        <result column="accomplish_quality" property="accomplishQuality"/>
        <result column="recommend_score" property="recommendScore"/>
        <result column="total_score_sum" property="totalScoreSum"/>
        <result column="response_speed_sum" property="responseSpeedSum"/>
        <result column="communicate_capacity_sum" property="communicateCapacitySum"/>
        <result column="completion_time_sum" property="completionTimeSum"/>
        <result column="accomplish_quality_sum" property="accomplishQualitySum"/>
        <result column="recommend_score_sum" property="recommendScoreSum"/>
        <result column="evaluation_count" property="evaluationCount"/>
    </resultMap>

    <select id="findOverallEvaluationByCateAndFreelancer" resultMap="overallEvaluationResultMap">
        select freelancer_id
                 , sum(total_score)     as total_score_sum
                 , sum(response_speed)  as response_speed_sum
                 , sum(communicate_capacity)   as communicate_capacity_sum
                 , sum(completion_time)   as completion_time_sum
                 , sum(accomplish_quality)   as accomplish_quality_sum
                 , sum(recommend_score) as recommend_score_sum
                 , count(freelancer_id) as evaluation_count
        from (
            select freelancer_id
                 , total_score
                 , response_speed
                 , communicate_capacity
                 ,completion_time
                 ,accomplish_quality
                 , recommend_score
            from evaluation_info
            where freelancer_id = #{freelancerId}
              and job_cate_id = #{jobCateId}
              and status = #{status}
            order by create_time desc
            limit #{maxCount}

        ) as tmp group by freelancer_id


    </select>

</mapper>
