<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.business.base.dao.IOrderInfoMapper">

	<resultMap id="BaseResultMap" type="com.fm.business.base.model.OrderInfo">
		<id column="id" property="id" />
		<id column="code" property="code" />
		<id column="job_code" property="jobCode" />
		<id column="tree_code" property="treeCode" />
		<id column="status" property="status" />
		<id column="order_mny" property="orderMny" />
		<id column="expect_delivery_time" property="expectDeliveryTime" />
		<id column="act_deliver_time" property="actDeliverTime" />
		<id column="demand_code" property="demandCode" />
		<id column="freelancer" property="freelancer" />
		<id column="employer" property="employer" />
		<id column="create_time" property="createTime" />
		<id column="update_time" property="updateTime" />
		<id column="create_user" property="createUser" />
		<id column="update_user" property="updateUser" />
		<id column="is_delete" property="isDelete" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, job_code, tree_code, status, order_mny, expect_delivery_time, act_deliver_time, demand_code, freelancer, employer, create_time, update_time, create_user, update_user, is_deleted
	</sql>
	
</mapper>